.ct{
    width: 100%;
 text-align: justify;
 font-size: 15px;
}

.h-left{
    width: 65%;
    float: left;

}
.h-right{
    width: 33%;
    float: right;}

    .ct img{
        margin-top: 15px;
    width: 100%;
    height: auto;
    }
.ct a{
    text-decoration: none;
}

.ct a:hover{
    color:rgb(188, 31, 31)
}
.h-item{
    display:flex;
    justify-content: space-between;
    margin-top: 10px;
}
.ht-item{
    width:32%;
    height:auto;
}

.htr-item{
  
    display:flex;
    justify-content: space-between;
}
.lk-item{
    width:49%;
 height:auto;

}

.lk-item img {
    width: 100%;
    height: 150px;   /* hoặc giá trị bạn muốn */
    object-fit: cover; /* giữ tỷ lệ, cắt phần thừa */
    margin-top: 10px;
}
/* -------------------- RESPONSIVE MOBILE -------------------- */
@media (max-width: 768px) {

    /* Tổng thể wrapper co giãn 100% và bỏ float */
    .wrapper {
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
    }

    /* Hai cột chuyển thành 1 cột */
    .h-left, 
    .h-right {
        width: 100%;
        float: none;
        margin: 0;
    }

    /* Các item dạng 3 cột → chuyển thành 1 cột cho dễ đọc */
    .h-item {
        display: block;
    }

    .ht-item {
        width: 100%;
        margin-bottom: 15px;
    }

    /* Cột phải cũng tương tự */
    .htr-item {
        display: block;
    }

    .lk-item {
        width: 100%;
        margin-bottom: 15px;
    }

    /* Ảnh thu gọn lại cho phù hợp mobile */
    .ct img,
    .lk-item img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    /* Menu thu gọn: đưa thành dạng xuống dòng */
    .menu ul {
        display: block;
    }

    .menu ul li {
        width: 100%;
        border-bottom: 1px solid #eee;
    }

    /* Header */
    .Header-Top {
        flex-direction: column;
        text-align: center;
    }

    .search {
        width: 100%;
        margin-top: 10px;
    }

    .search input {
        width: 70%;
    }

    /* Banner */
    .banner img {
        width: 100%;
        height: auto;
    }
}
